footer   {
          margin-top:50px;
		  width:100%;
		  text-align:center;
		  }
footer img{
           margin-left:0px;}

footer div{
           width:960px;
		   height:200px;
		   margin:0 auto;
		   text-align:center;}